<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KatieAndCarrots</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">Katie And Carrots Farm</h1>
        <h2 class="text-center mt-2 mb-4">About farm</h2>
        <p class="lead">
            "Welcome to our Charming Family Homestead
        
            Nestled in the heart of tranquility, our family homestead invites you to experience the joys of country living. Step
            into a world where the pace is unhurried, and the beauty of nature surrounds you at every turn. Our quaint and cozy
            haven is more than just a place to stay – it's a warm embrace of comfort and tradition.
        
            From the moment you arrive, you'll be greeted by the genuine hospitality that only a family-run homestead can offer.
            Imagine waking up to the gentle melody of birdsong, savoring a hearty breakfast sourced from our own land, and
            spending
            your days exploring sprawling gardens or simply unwinding on the porch swing. Whether you're seeking a peaceful
            escape,
            a taste of rural life, or a chance to connect with loved ones, our homestead is the perfect setting.
        
            Join us in creating cherished memories as we open our doors and hearts to you. Come experience the genuine warmth of
            a
            family homestead – where every visit feels like coming home."
        </p>
        <h2 class="text-center mt-2 mb-4">Veggie listings</h2>
        <p>TODO - veggies</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg">Order veggies</button>
        </div>
        
    </div>
</body>
</html>